Repository openRings/Pingpath, pull requests merged in 2025-02, with the labels that each got.

#16 Update tailwindcss config
  frontend/index.html
  frontend/src/main.css
Labels: enhancement

#32 create uikit/link
  frontend/src/components/Link.vue
Labels: enhancement, frontend

#31 added input component
  frontend/src/components/Input.vue
Labels: enhancement, frontend

#34 added text component
  frontend/public/patterns/text-pattern.svg
  frontend/src/components/Text.vue
Labels: enhancement, frontend

#36 35 backend api
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/auth.rs
  backend/src/main.rs
  backend/src/profile.rs
  docker/Caddyfile.dev
  docs/api.md
Labels: enhancement, backend

#38 create workflow and update compose
  backend/Cargo.lock
  backend/Cargo.toml
  backend/client-api/Cargo.toml
  backend/client-api/src/auth.rs
  backend/client-api/src/main.rs
  backend/client-api/src/profile.rs
  backend/model/Cargo.toml
  backend/model/src/lib.rs
  compose.dev.yml
  docker/Dockerfile.api.dev
Labels: enhancement, backend

#39 Done develop nav panel
  frontend/index.html
  frontend/src/components/Button.vue
  frontend/src/components/Counter.vue
  frontend/src/components/HStack.vue
  frontend/src/components/Link.vue
  frontend/src/components/Nav.vue
  frontend/src/components/VStack.vue
  frontend/src/components/svg/GitHub.vue
  frontend/src/components/svg/Logo.vue
  frontend/src/main.css
  frontend/src/pages/index.vue
  frontend/src/pages/profile.vue
  frontend/vite.config.ts
Labels: enhancement, frontend

#46 added working map and index page
  frontend/public/map.png
  frontend/src/components/Button.vue
  frontend/src/components/Input.vue
  frontend/src/components/Link.vue
  frontend/src/components/Nav.vue
  frontend/src/components/Text.vue
  frontend/src/components/history/HistoryItem.vue
  frontend/src/components/location/LocationItem.vue
  frontend/src/components/map/Map.vue
  frontend/src/components/map/MessagePopup.vue
  frontend/src/composables/useMap.ts
  frontend/src/pages/index.vue
Labels: enhancement, frontend

#50 42 profile page
  frontend/src/components/Button.vue
  frontend/src/components/Text.vue
  frontend/src/pages/profile.vue
Labels: enhancement, frontend

#59 added dev database service
  compose.dev.yml
Labels: docker, backend

#61 60 create migration
  migrations/0_initial.sql
Labels: enhancement, backend

#63 58 update api
  backend/Cargo.lock
  backend/client-api/Cargo.toml
  backend/client-api/src/auth.rs
  backend/client-api/src/profile.rs
  docs/api.md
Labels: enhancement, backend

#56 added notifications
  frontend/src/components/map/MessagePopup.vue
  frontend/src/components/notifications/Notification.vue
  frontend/src/components/svg/AssignmentLate.vue
  frontend/src/components/svg/Check.vue
  frontend/src/components/svg/Warning.vue
  frontend/src/composables/useNotifications.ts
Labels: enhancement, frontend

#57 54 create pricing page
  frontend/index.html
  frontend/src/components/Nav.vue
  frontend/src/main.ts
  frontend/src/pages/pricing.vue
Labels: enhancement, frontend

#67 53 fix map
  frontend/src/components/map/Map.vue
  frontend/src/components/map/MessagePopup.vue
Labels: bug, frontend

#70 69 update api docs
  CONTRIBUTING.md
  README.md
  compose.dev.yml
  docker/Caddyfile.dev
  docs/api.md
  docs/api/api.json
  docs/api/index.html
Labels: documentation, enhancement

#72 66 create data model
  backend/Cargo.lock
  backend/Cargo.toml
  backend/client-api/Cargo.toml
  backend/client-api/src/auth.rs
  backend/client-api/src/locations.rs
  backend/client-api/src/main.rs
  backend/client-api/src/profile.rs
  backend/model/Cargo.toml
  backend/model/src/database.rs
  backend/model/src/datetime.rs
  backend/model/src/datetime/de.rs
  backend/model/src/datetime/se.rs
  backend/model/src/lib.rs
  backend/model/src/location.rs
  backend/model/src/location/addr.rs
  backend/model/src/user.rs
  backend/model/src/user/profile.rs
  compose.dev.yml
  migrations/0_initial.sql
Labels: backend
